PORT=5000
MONGO_URI=mongodb+srv://dhruv8273872838shsb_db_user:kXB6VfqyKKcowO8j@cluster0.8kqd39f.mongodb.net/Resume
JWT_SECRET=change_this_secret
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123
